body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: white;
}

div#body {
  margin: auto;
  margin-top: 30px;
  width: 1000;
  height: 700;
}
div#mapa {
  width: 550px;
  height: 700px;

  float: left;
}
div#grafica {
  width: 450px;
  height: 700px;

  float: left;
}

.barrio {
  stroke: black;
  stroke-width: 0.5px;
}

.barrio:hover {
  fill: brown;
}
.rectangulo {
  fill: whitesmoke;
  stroke: black;
  stroke-width: 1px;
}
.rectanguloGrafica {
  fill: whitesmoke;
  stroke: black;
  stroke-width: 1px;
}
.textoBarrio {
  font-size: 20px;
  fill: brown;
}
.textoBarrioGrafica {
  font-size: 20px;
  text-transform: uppercase;
  fill: brown;
}
.barraVivienda {
  fill: rgb(180, 145, 70);
  stroke: black;
}
.textoEje {
  font-size: 14px;
  text-anchor: middle;
}

.valorDato {
  font-size: 14px;
}

.axisY .tick line {
  stroke: lightgrey;
}
.axisY path {
  stroke-width: 1;
}
.axisX path {
  stroke-width: 1;
}
