body {
  margin: 0px;
  overflow: hidden;
  background-color: white;
}

.barrio {
  stroke: black;
  stroke-width: 0.5px;
  
}

.barrio:hover {
  fill: green;
}
.rectangulo {
  fill:whitesmoke;
  stroke: black;
}
.textoBarrio {
  font-size: 20px;
  fill:black;
 
}
.textoBarrioGrafica {
  font-size: 20px;
  fill:black;
 
}
